1. Розробити мікро-сайт / сервіс, який дозволяє користувачеві створювати картинки-колажі з аватарів в twitter.
2. Користувач сервісу повинен ввести login від twitter і бажаний розмір колажу. 
3. Розмір аватара на колажі пропорційний кількості твітів власника аватара. Тобто користувач, який займає половину стрічки твіттера повинен займати і половину колажу своїм аватаром. 